@page
@model IndexModel
@{
    Layout = "_CdnLayout";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Static Files loaded from CDN</p>
</div>